$color-azul: #0d6efd;


footer{

    padding: 50px;

    background-color: $color-azul;

    display: flex;

    flex-direction: column;

    justify-content: center;

    h3{

        padding: 30px;
    }



    
}